<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuk.fuckMiuiThemeManager">

    <application
        android:icon="@drawable/ic_launcher"
        android:label="Miui 主题破解"
        android:supportsRtl="false">
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />

        <meta-data
            android:name="xposeddescription"
            android:value="作用域必须同时包含主题壁纸及系统框架，否则会恢复默认。且系统框架生效需重启手机！！" />

        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>
</manifest>