<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yuk.fuckThemeManager">

    <application
        android:icon="@mipmap/ic_launcher"
        android:label="Miui 主题破解"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true">
        <meta-data
            android:name="xposedscope"
            android:resource="@array/xposed_scope" />

        <meta-data
            android:name="xposeddescription"
            android:value="字面意思" />

        <meta-data
            android:name="xposedminversion"
            android:value="82" />
    </application>
</manifest>